
#main-header {
  background-color: #2b2b2b;
  color: #fff;
  .main-navigation{
    .navbar{
      border-radius: 0;
      margin-bottom: 1px
    }
  }
}

.header-wrapper{
  position: relative;
}

.custom-logo-link{
  width: 248px;
  height: 264px;
  img{
    display: block;
  }
}

.navbar.navbar-default{
  border-radius: 0;
  margin-bottom: 1px
}

.navbar-default .navbar-brand{
  color: #fff;
}

.navbar-right{
  display: none;
}
.navbar-toggle{
  background-color: #2B2B2B;
}

.navbar-default {
  background-color: #4D4D4D;
  -webkit-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.75);
  border:none;
}

.navbar-default .navbar-nav > .active > a{
  background-color: #2b2b2b;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:focus{
  color: #fff;
  border-color: transparent;
}

.navbar-default .navbar-nav > li > a{
  color: #abaaaa;
}
.navbar-default .navbar-nav > .active > a{
  &:focus {
    background-color: #2b2b2b;
  }
  &:hover{
    background-color: #2b2b2b
  }
}

.menu_my_bootstrap_menu > li > a{
  color: #fff;
}

@media screen and (max-width: $screen-xs) {
  .custom-logo-link, .social-icons, .header-phone-number{
    margin: 0 auto;
    img{
      margin: 0 auto;
    }
  }
  .logo-wrapper{
    padding-top: 20px;
  }
  .navbar-default{
    border-color: transparent;
    border-color: #e7e7e7;
  }
  
  .navbar-default .navbar-brand{
    color: #fff;
    font-size: 25px;
    padding-left: 25%;
  }
  
  .navbar-default .navbar-brand:focus{
    color: #fff;
  }
  
  .social-icons .social-icon-wrapper{
    margin: 0 auto;
    width: 32%;
  }
  
  .header-phone-number > p{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
  }
  .navbar-default .navbar-nav > li > a{
    font-size: 20px;
  }
}

