@import "partials/header";

a:focus{
  outline: 0px auto -webkit-focus-ring-color;
}
.content-wrapper {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: $screen-lg){
  #metaslider_37 .slides > li > img{
    max-height: 600px;
  }
  .content-wrapper{
    max-width: 1200px;
  }
}
